extends layout
block content
	div.jumbotron
		h1=title
		p.lead
		
			|LUGAR O DEPOSITO DESTINADO PARA GUARDAR,  MATERIALES , INSTRUMENTOS  , U OTROS ELEMENTOS QUE SE HAN DE UTILIZAR EN UNA EMERGENCIA.

			
		a(class="btn btn-large btn-success", href="#") Incia hoy
