extends layout
block content
	div.jumbotron
		h1=title
		p.lead
			|ES LA ATENCION INMEDIATA, TEMPORAL  Y EFICAZ QUE SE LE 														PROPORCIONA  A LA VICTIMA DE UN ACCIDENTE  O UNA ENFERMEDAD REPENTINA MIENTRAS SE LE CONSIGUE AYUDA MEDICA O SE TRASLADA A UN CENTRO HOSPITALARIO.
			


		a(class="btn btn-large btn-success", href="#") Incia hoy
	