extends layout
block content
	div.jumbotron
		h1=title
		p.lead
		
			|SON LESIONES EN LOS TEJIDOS CORPORALES, CAUSADAS GENERALMENTE POR EL CALOR, FUEGO, QUIMICOS , VAPOR , LIQUIDOS CALIENTES, ELECTRICIDAD  Y FRIO.

		a(class="btn btn-large btn-success", href="#") Incia hoy

