extends layout
block content
	div.jumbotron
		h1=title
		p.lead
		
			|ES LA DISMINUCION  DE LAS FUNCIONES DEL ORGANISMO A CONSECUENCIA DE LA PERDIDA DE LIQUIDOS EXTRACELULARES, PRINCIPALMENTE SANGRE O SUS COMPONENTES.


		a(class="btn btn-large btn-success", href="#") Incia hoy